.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.even {
  background-color: lightseagreen;
}
.odd {
  background-color: lightsteelblue;
}

/* Button styles */

button {
  padding: 20px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.3em;
  box-shadow: 2px 2px 2px black;
}

.unclicked {
  background-color: crimson;
}

.clicked {
  background-color: green;
}
.unclicked:hover {
  background-color: lightgreen;
  box-shadow: 1px 1px 1px black; 
}

.clicked:hover {
  background-color: orange;
  box-shadow: 1px 1px 1px black;
}
